@model ExamDetailViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ExamDetails</h1>

<div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Exam.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exam.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exam.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exam.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exam.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exam.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exam.Status)
        </dd>
    </dl>
    <div><a asp-action="ExamResults" asp-route-id="@Model.Exam.Id" class="btn btn-primary">Exam Results</a></div>
</div>
<br />
<br />
<br />
<h4>Questions</h4>
@Html.ActionLink("Create", "Create", "TeacherQuestionsMan", new { @class = "btn btn-outline-primary" })
<table class="table table-responsive">
    <thead class="thead-dark">
        <tr>
            <th>Question</th>
            <th>Type</th>
            <th>Points</th>
            <th class="w-25">Question Id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ExamQuestions)
        {
            string selected = "";
            @if (ViewBag.QuesId == item.ID)
            {
                selected = "active";
            }
            <tr class="@selected">
                <td>
                    @Html.DisplayFor(modelitem => item.Question)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.points)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.ID)
                </td>
                <td>
                    @Html.ActionLink("Select", "Details", new { quesId = item.ID }) |
                    @Html.ActionLink("Edit", "Edit", "TeacherQuestionsMan", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", "TeacherQuestionsMan", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", "TeacherQuestionsMan", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<br />

@if (Model.QuestionAnswers != null)
{
    <div>
        <h4>Answers</h4>
        @Html.ActionLink("Add New Answer", "Create", "TeacherAnswerMan")
        <table class="table table-responsive">
            <thead class="thead-light">
                <tr>
                    <th>Answer</th>
                    <th>isCorrect</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.QuestionAnswers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelitem => item.Answer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.isCorrect)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "TeacherAnswerMan", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", "TeacherAnswerMan", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", "TeacherAnswerMan", new { id = item.ID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else if (ViewBag.QuesId != null)
{
    <div class="card">
        @Html.ActionLink("Add New Answer", "Create", "TeacherAnswerMan")
    </div>
}