@model ExamDetailViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Exam</h4>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Exam.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exam.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exam.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exam.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exam.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exam.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exam.Status)
        </dd>
    </dl>
</div>
<br />
<br />
<br />
<div>
    <h4>Questions</h4>
    @Html.ActionLink("Select", "Create", "TeacherQuestionsMan")
    <table class="table">
        <tr>
            <th>Question</th>
            <th>Type</th>
            <th>Points</th>
            <th></th>
        </tr>
        @foreach (var item in Model.ExamQuestions)
        {
            string selected = "";
            @if (ViewBag.QuesId == item.ID)
            {
                selected = "success";
            }
            <tr class="@selected">
                <th>
                    @Html.DisplayFor(modelitem => item.Question)
                </th>
                <th>
                    @Html.DisplayFor(modelitem => item.Type)
                </th>
                <th>
                    @Html.DisplayFor(modelitem => item.points)
                </th>
                <th>
                    @Html.DisplayFor(modelitem => item.ID)
                </th>
                <th>
                    @Html.ActionLink("Select", "Details", new { quesId = item.ID }) |
                    @Html.ActionLink("Edit", "Edit", "TeacherQuestionsMan", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", "TeacherQuestionsMan", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", "TeacherQuestionsMan", new { id = item.ID })
                </th>
            </tr>
        }
    </table>
</div>
<br />
<br />
<br />

@if (Model.QuestionAnswers != null)
{
    <div>
        <h4>Answers</h4>
        @Html.ActionLink("Add New Answer", "Create", "TeacherAnswerMan")
        <table class="table">
            <tr>
                <th>Question</th>
                <th>Type</th>
                <th>Points</th>
                <th></th>
            </tr>
            @foreach (var item in Model.QuestionAnswers)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(modelitem => item.Answer)
                    </th>
                    <th>
                        @Html.DisplayFor(modelitem => item.isCorrect)
                    </th>
                    <th>
                        @Html.ActionLink("Edit", "Edit", "TeacherAnswerMan", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", "TeacherAnswerMan", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", "TeacherAnswerMan", new { id = item.ID })
                    </th>
                </tr>
            }
        </table>
    </div>
}
else if (ViewBag.QuesId != null)
{
    <div class="card">
        @Html.ActionLink("Add New Answer", "Create", "TeacherAnswerMan")
    </div>
}